.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Counter{
  width: 200px;
  height: 400px;
  border: 1px solid;
}

.active {
  border-color: red;
}

.dis{
 border: 1px solid red;
}

.span__item{
  color: red;
}

